#main {
  width: 100%;
  overflow-y: hidden;
  position: relative;
  color: white;
  counter-reset: pageNums;

  & > section {
    min-height: 100vh;
    width: 100%;
    padding: ($header-height + 20px) 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  & > section:nth-of-type(n + 2) {
    counter-increment: pageNums;
  }

  @for $i from 1 through 6 {
    & > section:nth-child(#{$i}) {
      z-index: $i;
      // background-color: rgb($i * 30, $i * 30, $i * 30);
    }
  }

  a {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 0%;
      bottom: 0%;
      left: 0%;
      height: 1px;
      transition: width 0.3s;
    }
  }
  & > section:nth-child(even) {
    background-color: var(--primary-grey-one);
    a {
      color: var(--anchors-primary);
      &::after {
        background-color: var(--anchors-primary);
      }
    }
  }
  & > section:nth-child(odd) {
    background-color: var(--primary-grey-two);
    a {
      color: var(--anchors-secondary);
      &::after {
        background-color: var(--anchors-secondary);
      }
    }
  }
  a:hover,
  a:focus {
    &::after {
      width: 100%;
    }
  }

  & > #popup {
    z-index: 99999;
    position: fixed;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
      height: 55vh;
      width: 75vw;
      background-color: var(--sidenav-bg);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px 30px;
      border-radius: 10px;
      font-weight: 600;
      font-size: large;
      position: relative;
      .popup-cross-icon {
        font-size: xx-large;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  #main {
    width: 100%;
    height: 500vh;
    position: relative;
    color: white;

    & > section {
      position: fixed;
    }
  }
}
@media screen and (max-width: 900px) {
  #main {
    height: fit-content;
    & > section {
      padding: ($header-height + 20px) 30px;
    }
  }
}
